.container {
    width: 200px;
    /* height: 266px; */
    height: 300px;
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* margin: auto; */
    /* background: url('https://cdn.myanimelist.net/images/anime/4/19644l.jpg'); */
    border-radius: 5px;
    background-color: black;
    background-size: cover;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.animatedLoading {
    width: 200px;
    height: 300px;

    background: #eee;
    // background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background: linear-gradient(110deg, #ececec 25%, #f5f5f5 25%, #ececec 45%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
}

.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, 0.9);
    color: #fef5df;
    opacity: 0;
    transition: all 0.5s;
    font-family: 'Playfair Display', serif;
}

.items {
    padding-left: 20px;
    letter-spacing: 3px;
}

.head {
    /* font-size: 30px; */
    font-size: 20px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.price {
    /* font-size: 22px; */
    font-size: 15px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}
.price .old {
    text-decoration: line-through;
    color: #b3b3b3;
}

.cart {
    /* font-size: 12px; */
    font-size: 10px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
}
.cart i {
    font-size: 16px;
}
.cart span {
    margin-left: 10px;
}

.container:hover .overlay {
    opacity: 1;
    border-radius: 5px;
}
.container:hover .overlay .head {
    transform: translateY(0px);
}
.container:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
}
.container:hover .overlay .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}
.container:hover .overlay .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}
@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
