* {
    margin: 0;
    padding: 0;
    outline: none;
    /* border: none; */
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100;
    left: 0;
    background: #343434;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 10px 10px;
}
.logoIMG {
    width: 45px;
    height: 45px;
}
.logoTitleIMG {
    width: 120px;
    height: 45px;
    padding-left: 15px;
    margin-left: 10px;
}
.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.navItem {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    padding: 15px 0 15px 25px;
}
.navItem img {
    width: 30px;
    height: 30px;
}
.navItem:hover {
    background: #919191;
}
.navItem span {
    padding-left: 55px;
    font-size: 18px;
    position: relative;
    top: 12px;
    margin-left: 10px;

    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}
.guest {
    position: absolute;
    bottom: 0;
}
