.container {
    position: fixed;
    top: 1%;
    right: 1%;

    // top: -50px;
    // animation: 1s show ease;
    // @keyframes show {
    //     from {
    //         top: -50px;
    //     }
    //     to {
    //         top: 1%;
    //     }
    // }
}
.notificationDiv {
    // position: fixed;
    // top: 1%;
    // right: 1%;
    right: 1%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    // height: 40px;
    // width: 250px;
    width: 230px;
    padding: 10px 20px;
    text-align: center;
    // padding: 10px 0 10px 0;
    // margin: 10px 0;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 600;
    &.errorDiv {
        background-color: rgb(226, 27, 27, 0.9);
        &:hover {
            background-color: rgb(226, 27, 27);
        }
    }
    &.successDiv {
        // background-color: #4bb543;
        background-color: rgb(75, 181, 67, 0.9);
        &:hover {
            background-color: rgb(75, 181, 67);
        }
    }
    &.warningDiv {
        background-color: rgb(255, 235, 59, 0.9);
        color: black;
        &:hover {
            background-color: rgb(255, 235, 59);
        }
    }

    &.slideIn {
        animation: 1s slideIn forwards;
        @keyframes slideIn {
            from {
                right: -120%;
            }
            to {
                right: 1%;
            }
        }
    }
    &.slideOut {
        animation: 1s slideOut forwards;
        // animation-delay: 5s;
        @keyframes slideOut {
            0% {
                right: 1%;
            }
            100% {
                right: -120%;
            }
        }
    }
    &.removed {
        position: absolute;
        height: -10px;
        width: 0;
        margin: 0;
        padding: 0;
    }
    // &:first-child {
    //     margin-top: 0;
    // }
    .cross {
        position: absolute;
        top: 10%;
        right: 3%;
        height: 10px;
        width: 10px;
        margin: 0 0 0 auto;
        // color: #fff;
        opacity: 0.65;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

// .slideIn {
//     animation: 1s slideIn forwards;
//     @keyframes slideIn {
//         from {
//             right: -120%;
//         }
//         to {
//             right: 1%;
//         }
//     }
// }
// .slideOut {
//     animation: 1s slideOut forwards;
//     animation-delay: 5s;
//     @keyframes slideOut {
//         0% {
//             right: 1%;
//         }
//         100% {
//             right: -120%;
//         }
//     }
// }

.transformDivToDissapear {
    position: relative;
    animation: scale 500ms ease forwards;
    @keyframes scale {
        100% {
            margin-bottom: -40px;
        }
    }
    height: 40px;
    // width: 250px;
    width: 230px;
    padding: 10px 20px;
}
