.errorDiv {
    // z-index: 1;
    position: absolute;
    background-color: rgb(226, 27, 27, 0.9);
    border-radius: 10px;
    top: 1%;
    right: 1%;
    overflow: hidden;
    color: white;
    height: 40px;
    width: 250px;
    text-align: center;
    // vertical-align: center;
    padding: 10px 0 10px 0;
    animation: 1s show ease;
    cursor: pointer;
    @keyframes show {
        from {
            top: -100px;
        }
    }
    &:hover {
        background-color: rgb(226, 27, 27);
    }
}
